<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <h1>Home page!</h1>
  <a href="/upload">Upload Image!</a>
  <h2><a href="/delete">Delete All Images</a></h2>
  <h2>Uploaded Images</h2>
  <% imageFiles.forEach(image => { %>
      <div>
          <h3><%= image.filename %></h3>
          <img src="<%= image.src %>" alt="<%= image.filename %>" style="width: 300px; height: auto;">
      </div>
  <% }) %>
</body>
</html>